.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 31.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

  /*------------------------------------------ nav bar design starts here------------------*/

html{
   scroll-behavior:smooth;
   overflow-x: hidden;
}
}

.nav-logo{
   text-align:left;
}
.nav-heading{
   text-align:right;
   position:relative;
   left:10%;
    
}
.nav-menu{
    flex-direction: row;
    justify-content:flex-end;
}
.nav-menu a{
    padding:5px 10px;
    margin: 20px 0;
    background-color: transparent;
    
}

     /* ---------------------nav bar design ends here-------------------------


     ----------------------------------profile design starts here----------------*/


     .profile{
        padding:130px 10px;
       
        text-align: center;
    }
     .profile .top-weather-icon{
        border-radius:50%;
        width:200px;
        right:20px;
      
       transition:width 2s,transform 2s;
        
    }
    .profile .top-weather-icon:hover{
       width:250px

    }
    .profile .bottom-weather-icon{
        border-radius:50%;
        width:200px;
        left:20px;
      
       transition:width 2s,transform 2s;
        
    }
    .profile .bottom-weather-icon:hover{
       width:250px

    }

    .profile-desc p{
        color:gray;
        text-align:center;
        width:50%;
        margin:0 auto;
        margin-bottom:10px;
    }
    


     /*-------------------------profile design ends here-------------------*/


     /*-----------------------about me design starts here -----------------*/

.about img{
   display:inline-block;
   margin:50px 50px 0px 250px;
   height:280px;
   width:280px;
   border:6px solid white;
}
.rightdiv{
   margin:-320px 0px 0px 640px;
   width:60%;
   border:border-box;
}
.text{
   text-align: left;
}
.hr-text{
   border-radius:0;
}

/*-----------------------about me design ends here -----------------*/
  


  
 /*--------skills section starts here---------------------------------*/

 .skillcontainer{
   padding:2% 8%;
 }
.work{
    padding:10px;
    height:750px;
    box-sizing: border-box;
 }
 .work1{
   padding:10px;
   height:750px;
   box-sizing: border-box;
 }
 .work span{
   top:-30%;
 }
 

/*----------skills section ends here-------------------------------- */

 

/*----------------------contact design starts here------------------------------*/

.contact button{
  width:150px;
}
.socialbr{
   margin-top:40px;
   
}
/*----------------------contact design ends here------------------------------*/

/*-------------------footer design starts from here---------------------*/
.footer-menu{
   margin-top:12px;
   text-align: center;
}
.footer-menu a{
   display:inline;
   margin:10px;
}


/*-------------------footer design starts from here---------------------*/